body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

header {
    background-color: #ff9999;
    color: white;
    text-align: center;
    padding: 20px 0;
}

main {
    display: flex;
    flex-direction: column;
    padding: 20px;
    background-color: #303c6c;
    margin: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

main > span {
    align-self: center;
    padding-bottom: 10px;
    color: white;
}

section {
    margin-bottom: 20px;
    padding: 20px;
    background-color: #99ccff;
    color: white;
}

section div {
    margin-top: 10px;
    padding: 15px;
    background-color: #66cc66;
    color: white;
}

section div h3 {
    margin-top: 0;
}

section p {
    background-color: #ffcc99;
    padding: 10px;
    color: #333;
    border-radius: 5px;
}

ul {
    background-color: #fbe8a6;
    padding: 15px 20px;
    color: black;
}

li {
    background-color: #cba2c9;
    padding: 10px 5px;
    margin: 10px;
}

ol {
    background-color: #eaddca;
    padding: 15px 20px;
    color: black;
}

img {
    width: 200px;
    height: 200px;
}

footer {
    background-color: #999999;
    color: white;
    text-align: center;
    padding: 15px 0;
}

header {
    background-color: pink;
}

h1 {
    background-color: rgb(138, 226, 226);
    font-size: 100px;
    font-weight: 600;
    padding-top: 50px;
    margin: 50px;
    padding: 20px 40px;
    border-radius: 100px;
    border: solid 2px black;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    width: 500px;
    color: rgb(174, 117, 228);
    transition: 1s ease all;
}

h1:hover {
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.8);
    transform: translateX(-50px) scale(0.5) rotate(360deg);
    color: #cba2c9;
}

#Ilovemyself {
    color: palevioletred;
}
